*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

/* General Styles */
header{
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(19, 28, 45, 0.98);
    color: white;
}


/* Offcanvas */
.offcanvas{
    height: 100%;
    background-color: rgba(19, 28, 45, 0.98);
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-320px, 0, 0);
    transition: transform .3s;
}
.offcanvas header{
    /* background-color: #0a065d; */
    overflow: hidden;
}
.offcanvas header .ham{
    float: right;
    height: inherit;
    width: 50px;
    /* background-color: red; */
}
.offcanvas header label{
    display: block;
    height: inherit;
    font-size: 0;
    /* background-color: green; */
}
.offcanvas header .ham span{
    display: inline-block;
    position: relative;
    height: 2px;
    width: 18px;
    margin-top: -1px;
    margin-left: -9px;
    background-color: transparent;
    top: 50%;
    left: 50%;
}
.offcanvas header .ham span:before,
.offcanvas header .ham span:after{
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: #f04;;
}
.offcanvas header .ham span:before{
    /* top: -4px; */
    transform: rotate(45deg);
}
.offcanvas header .ham span:after{
    /* top: 4px; */
    transform: rotate(-45deg);
}
input#left-canvas{
    position: absolute;
    z-index: -20;
}

.offcanvas ul{
    list-style-type: none;
    width: 100%;
    /* transform: translate3d(0, 50vh, 0); */
    transition: transform 1s;
}
.offcanvas ul li{
    text-decoration: none;
}
.offcanvas ul li a{
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
    color: #e6b2c6;
    font-size: 1.15em;
    text-decoration: navajowhite;
    padding: 8px 12px;
}

/* Defines movement of individual list item in canvas */
.one, .two, .three, .four, .five, .six{
    transform: translate(0, 50vh);
    opacity: 0;
}
input#left-canvas:checked ~ .offcanvas > ul .one{
    transform: translate(0, 0);
    transition: transform .6s;
    opacity: 1;
}
input#left-canvas:checked ~ .offcanvas > ul .two{
    transform: translate(0, 0);
    transition: transform .6s .2s, opacity .3s .2s;
    opacity: 1;
}
input#left-canvas:checked ~ .offcanvas > ul .three{
    transform: translate(0, 0);
    transition: transform .6s .4s, opacity .3s .4s;
    opacity: 1;
}
input#left-canvas:checked ~ .offcanvas > ul .four{
    transform: translate(0, 0);
    transition: transform .6s .6s, opacity .3s .6s;
    opacity: 1;
}
input#left-canvas:checked ~ .offcanvas > ul .five{
    transform: translate(0, 0);
    transition: transform .6s .8s, opacity .3s .8s;
    opacity: 1;
}
input#left-canvas:checked ~ .offcanvas > ul .six{
    transform: translate(0, 0);
    transition: transform .6s .9s, opacity .3s .9s;
    opacity: 1;
}

/* Offcanvas slide-in & out*/

input#left-canvas:checked ~ .offcanvas{
    z-index: 50;
    transform: translate3d(0, 0, 0);
}

/* Container */

.container{
    transition: transform .3s;
    position: relative;
}
.container header{
    z-index: 10;
    position: absolute;
}
.container .ham{
    float: left;
    width: 50px;
    height: inherit;
}
.container .ham label{
    display: block;
    height: 50px;
    font-size: 0;
}
.container .ham label span{
    display: inline-block;
    height: 2px;
    width: 22px;
    background-color: #f04;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -12px;
}
.container .ham label span:before,
.container .ham label span:after{
    content: "";
    height: 2px;
    position: absolute;
    background-color: #f04;
}
.container .ham label span:before{
    top: -6px;
    width: 26px;
}
.container .ham label span:after{
    top: 6px;
    width: 18px;
}

.meet-me{
    height: 100vh;
    width: 100%;
    background-color: #f8f1f1;
    position: relative;
}
.top-box{
    height: 100vh;
    width: 100%;
    background-color: green;
    position: relative;
    background-image: url("./img/naomi_who.jpg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: cover;
}
.photo-box{
    height: 20vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0%;
}

.name{
    text-align: center;
    position: relative;
    color: #0a065d;
}
.name button{
    border: none;
    height: 50px;
    line-height: 40px;
    background-color: #0a065d;
    padding: 0 10px;
    border: 2px solid #d2c8c8;
    color: #fff;
    border-radius: 5px;
}
.name h2{
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
    /* font-family: cursive, sans-serif; */
    font-family: 'Gugi', cursive;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: left;
}
.name p{
    padding: 5px 0 5px 0;
    font-weight: normal;
    background: linear-gradient(to right, black 40% , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Source Sans Pro', sans-serif;
}
.meet-me .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(19, 28, 45, 0.85);
}

.meet-me .overlay .name{
    bottom: 20px;
    position: absolute;
    right: 0;
    height: 100px;
    width: 100%;
    text-align: right;
    color: #f8f1f1;
}

input#left-canvas:checked ~ .container{
    height: 100vh;
    overflow: hidden;
    /* z-index: 50; */
    transform: translate3d(320px, 0, 0);
}

input#left-canvas:checked ~ .container .overlay-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 50;
    top: 0;
}